* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-family: 'Roboto Slab', serif;
	background-image: url(wineglass.jpg);
	background-size: cover;
}

h1 {
	font-family: 'Yellowtail', cursive;
}