* { margin:0; padding:0; box-sizing:border-box; }

body {
	background: url(Assets/stripes.png) repeat-x, url(Assets/background.jpg) no-repeat #525a6a;
	background-size: auto, cover;
	color: white;
	font-family: "Verdana", sans-serif;
	font-size: 22px;
}

hr {
	width: 80px;
	border-color: rgb(255,114,116);
	margin: 10px 0;
}
p {
	margin:0 0 10px 0;
}
.textblock {
	margin: 275px 0 0 150px;
}
